In [0]:
#Import required functions
from pyspark.sql.types import StructType, StructField, StringType, IntegerType,ArrayType,MapType
from pyspark.sql import SparkSession

# Create SparkSession object
spark = SparkSession.builder.appName("create_df_with_orc").getOrCreate()

In [0]:
#Sample Data set
all_data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL"),
    ("Sira","Jones","Nepal","FL")
  ]
#Create schema to pass while creating DataFrame
schema = StructType([
    StructField("firstname", StringType(), True),
    StructField("lastname", StringType(), True),
    StructField("country", StringType(), True), 
    StructField("state", StringType(), True) 
    ])
#Create Dataframe    
all_data_df = spark.createDataFrame(all_data, schema)
all_data_df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
|     Sira|   Jones|  Nepal|   FL|
+---------+--------+-------+-----+

In [0]:
all_data_df.write.option("header",True) \
        .orc("/FileStore/tables/junee_orc_file")

In [0]:
from pyspark.sql.functions import col
all_data_df_orc = spark.read.orc("/FileStore/tables/junee_orc_file").where(col('state')=='CA')
all_data_df_orc.printSchema()
all_data_df_orc.show()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|   Robert|Williams|    USA|   CA|
|    James|   Smith|    USA|   CA|
+---------+--------+-------+-----+

In [0]:
#Used PartitionBy to partition interms of country
all_data_df.write.partitionBy("country").mode("overwrite").orc("/FileStore/tables/junee_orc_file")

In [0]:
all_data_df.write.option("header",True) \
        .parquet("/FileStore/tables/june_parquet_files")

In [0]:
all_data_parquet = spark.read.parquet("/FileStore/tables/june_parquet_files")
all_data_parquet.printSchema()
all_data_parquet.show()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    Maria|   Jones|    USA|   FL|
|     Sira|   Jones|  Nepal|   FL|
|   Robert|Williams|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|    James|   Smith|    USA|   CA|
+---------+--------+-------+-----+

In [0]:
# Read the .data file into a DataFrame
read_data = spark.read.format("text") \
             .option("delimiter", ",") \
             .load("/FileStore/tables/iris.data")

# Show the DataFrame
df.show()

In [0]:
#get data from the link and add url
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)

In [0]:
#read file and show it schema
onlinedata_df = spark.read.csv("file://"+SparkFiles.get("iris.data"), header=True, inferSchema= True)
onlinedata_df.printSchema()
onlinedata_df.show()

root
 |-- 5.1: double (nullable = true)
 |-- 3.5: double (nullable = true)
 |-- 1.4: double (nullable = true)
 |-- 0.2: double (nullable = true)
 |-- Iris-setosa: string (nullable = true)

+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
+---+---+---+---+-----------+
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-2521248266669753> in <cell line: 5>()
      3 onlinedata_df.printSchema()
      4 onlinedata_df.show()
----> 5 onlinedata_df.nunique()

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   2072         """
   2073         if name not in self.columns:
-> 2074             raise AttributeError(
   2075                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   2076             )

AttributeError: 'DataFrame' object has no attribute 'nunique'

In [0]:
data_file = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
rdd = spark.sparkContext.textFile(data_file)

In [0]:
#Create Dataframe from following and replace Rd with Road
address = [(1,"14851 Jeffrey Rd","DE"),
    (2,"43421 Margarita St","NY"),
    (3,"13111 Siemon Ave","CA")]
    
Columns = ['id', 'address','state']
#Create Dataframe from given data and column
address_df = spark.createDataFrame(address, Columns)
address_df.show()

+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|  14851 Jeffrey Rd|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+

In [0]:
#Import regexp_replace to replace a column value with a string
from pyspark.sql.functions import regexp_replace
# Replace "Rd" with "Road" in the "address" column
replace_df = address_df.withColumn("address", regexp_replace(col("address"), "Rd", "Road"))
replace_df.show()

+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|14851 Jeffrey Road|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+

In [0]:
replace_df = address_df.withColumn("address_change", regexp_replace(col("address"), "Rd", "Road"))
replace_df.show()

+---+------------------+-----+------------------+
| id|           address|state|    address_change|
+---+------------------+-----+------------------+
|  1|  14851 Jeffrey Rd|   DE|14851 Jeffrey Road|
|  2|43421 Margarita St|   NY|43421 Margarita St|
|  3|  13111 Siemon Ave|   CA|  13111 Siemon Ave|
+---+------------------+-----+------------------+

In [0]:
#get data from the link and add url
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
col_names =['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
iris_dataset = pd.read_csv(url, names=col_names)
iris_dataset

,sepal-length,sepal-width,petal-length,petal-width,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [0]:
#replace Iris with Iris-Dataset in column Iris-setosa
onlinedata_df1=onlinedata_df.withColumn("class", regexp_replace("Iris-setosa", "Iris", "Iris-Dataset"))
onlinedata_df1.show()

+---+---+---+---+-----------+-------------------+
|5.1|3.5|1.4|0.2|Iris-setosa|              class|
+---+---+---+---+-----------+-------------------+
|4.9|3.0|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|Iris-Dataset-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|Iris-Dataset-setosa|
+---+---+---+---+-----------+-------------------+
only showing top 20 rows

+---+---+---+---+-----------+-------------------+
|5.1|3.5|1.4|0.2|Iris-setosa|              class|
+---+---+---+---+-----------+-------------------+
|4.9|3.0|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|Iris-Dataset-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|Iris-Dataset-setosa|
+---+---+---+---+-----------+-------------------+
only showing top 20 rows

In [0]:
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]
schema = StructType([
     StructField('Name', StructType([
        StructField('Fir', StringType(), True),
        StructField('Mi', StringType(), True),
        StructField('La', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])
#Create Dataframe with given data and schema
new_df = spark.createDataFrame(data,  schema)
new_df.printSchema()
new_df.show(truncate=False)

root
 |-- Name: struct (nullable = true)
 |    |-- Fir: string (nullable = true)
 |    |-- Mi: string (nullable = true)
 |    |-- La: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|Name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [0]:
#1.Task- Give me only those rows which has State OH
#Using filter to filter the Datafreame that contains OH
df_with_state_OH = new_df.filter(new_df.state == 'OH')
df_with_state_OH.show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
#2.Task - Give me only those rows which does not have state OH
df_without_state_OH = new_df.filter(new_df.state != 'OH')
df_without_state_OH.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [0]:
#3.Task- Give me those people whose gender is M
df_with_gender_M = new_df.filter(new_df.gender == 'M')
df_with_gender_M.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
new_df.Name

Out[117]: Column<'Name'>

In [0]:
# Import length to check the length of string data
from pyspark.sql.functions import length

result = new_df.filter(length(new_df.Name.Mi) > 0)
result.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
#just check if Middle name is empty or not
result1 = new_df.filter(new_df.Name.Mi != "")
result1.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
new_df.select(F.length("state")).show()

+-------------+
|length(state)|
+-------------+
|            2|
|            2|
|            2|
|            2|
|            2|
|            2|
+-------------+

In [0]:
new_data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"DE","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"CA","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"ACCA","M"),
 ]
new_schema = StructType([
     StructField('Name', StructType([
        StructField('Fir', StringType(), True),
        StructField('Mi', StringType(), True),
        StructField('La', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])
#Create Dataframe with given data and schema
new_df1 = spark.createDataFrame(new_data,  new_schema)
new_df1.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   DE|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   CA|     M|
|{Mike, Mary, Will...|      [Python, VB]| ACCA|     M|
+--------------------+------------------+-----+------+

In [0]:
#Using filter to filter the Datafreame that contains OH,CA,DE
new_df_with_state = new_df1.filter(new_df1.state.isin(['OH', 'CA', 'DE']))
new_df_with_state.show()

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
| {Julia, , Williams}|      [CSharp, VB]|   DE|     F|
|{Mike, Mary, Will...|      [Python, VB]|   CA|     M|
+--------------------+------------------+-----+------+

In [0]:
#Task 1- I need all the states which starts from H
#Use startswith Function to get the element of state that starts with H
df_start_with_H = new_df1.filter(new_df1.state.startswith("H"))
df_start_with_H.show()

#There are no any element starts with H so Lets check for element starts with N
df_start_with_H = new_df1.filter(new_df1.state.startswith("N"))
df_start_with_H.show()

+----+---------+-----+------+
|Name|languages|state|gender|
+----+---------+-----+------+
+----+---------+-----+------+

+--------------------+------------------+-----+------+
|                Name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [0]:
#Task2-  I need all the states Which end A
#Use endswith Function to get the element of state that ends with A
df_end_with_A  = new_df1.filter(new_df1.state.endswith("A"))
df_end_with_A.show()

+--------------------+------------+-----+------+
|                Name|   languages|state|gender|
+--------------------+------------+-----+------+
|{Mike, Mary, Will...|[Python, VB]|   CA|     M|
+--------------------+------------+-----+------+

In [0]:
#Task 3- I need all the states which has C contains
#Use Contain Function to check  whether the element of state contain letter C
df_containig_C = new_df1.filter(new_df1.state.contains("C"))
df_containig_C.show()

df_containig_C = new_df1.filter(new_df1.state.contains("CA"))
df_containig_C.show()

+--------------------+------------+-----+------+
|                Name|   languages|state|gender|
+--------------------+------------+-----+------+
|{Mike, Mary, Will...|[Python, VB]|   CA|     M|
|{Mike, Mary, Will...|[Python, VB]| ACCA|     M|
+--------------------+------------+-----+------+

+--------------------+------------+-----+------+
|                Name|   languages|state|gender|
+--------------------+------------+-----+------+
|{Mike, Mary, Will...|[Python, VB]|   CA|     M|
|{Mike, Mary, Will...|[Python, VB]| ACCA|     M|
+--------------------+------------+-----+------+

In [0]:
onlinedata_df.show()

+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
+---+---+---+---+-----------+
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

In [0]:
onlinedata_df.show()

+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
+---+---+---+---+-----------+
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

In [0]:
#using withColumnRenamed function to rename one column name mwith new one
new_onlinedata_df = onlinedata_df.withColumnRenamed('5.1', 'sepal_length') \
                    .withColumnRenamed('3.5', 'sepal_width') \
                    .withColumnRenamed('1.4', 'petal_length') \
                    .withColumnRenamed('0.2', 'petal_width') \
                    .withColumnRenamed('Iris-setosa', 'species')

In [0]:
#showing new dataframe with new column names replaces
new_onlinedata_df.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
#filter dataframe where element of species is Iris-virginica
new_onlinedata_df_virginica = new_onlinedata_df.filter(new_onlinedata_df.species == "Iris-virginica")
new_onlinedata_df_virginica.show()

+------------+-----------+------------+-----------+--------------+
|sepal_length|sepal_width|petal_length|petal_width|       species|
+------------+-----------+------------+-----------+--------------+
|         6.3|        3.3|         6.0|        2.5|Iris-virginica|
|         5.8|        2.7|         5.1|        1.9|Iris-virginica|
|         7.1|        3.0|         5.9|        2.1|Iris-virginica|
|         6.3|        2.9|         5.6|        1.8|Iris-virginica|
|         6.5|        3.0|         5.8|        2.2|Iris-virginica|
|         7.6|        3.0|         6.6|        2.1|Iris-virginica|
|         4.9|        2.5|         4.5|        1.7|Iris-virginica|
|         7.3|        2.9|         6.3|        1.8|Iris-virginica|
|         6.7|        2.5|         5.8|        1.8|Iris-virginica|
|         7.2|        3.6|         6.1|        2.5|Iris-virginica|
|         6.5|        3.2|         5.1|        2.0|Iris-virginica|
|         6.4|        2.7|         5.3|        1.9|Iris-virginica|
|         6.8|        3.0|         5.5|        2.1|Iris-virginica|
|         5.7|        2.5|         5.0|        2.0|Iris-virginica|
|         5.8|        2.8|         5.1|        2.4|Iris-virginica|
|         6.4|        3.2|         5.3|        2.3|Iris-virginica|
|         6.5|        3.0|         5.5|        1.8|Iris-virginica|
|         7.7|        3.8|         6.7|        2.2|Iris-virginica|
|         7.7|        2.6|         6.9|        2.3|Iris-virginica|
|         6.0|        2.2|         5.0|        1.5|Iris-virginica|
+------------+-----------+------------+-----------+--------------+
only showing top 20 rows

In [0]:
#filter dataframe where element of species is not Iris-virginica
new_onlinedata_without_virginica = new_onlinedata_df.filter(new_onlinedata_df.species != "Iris-virginica")
new_onlinedata_without_virginica.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
#Filter with multiple condition
df_multiple_condition = new_onlinedata_df.filter( (new_onlinedata_df.species  == "Iris-setosa") & (new_onlinedata_df.petal_width  > 0.4) )
df_multiple_condition.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|
|         5.0|        3.5|         1.6|        0.6|Iris-setosa|
+------------+-----------+------------+-----------+-----------+

In [0]:
#Using isin function
new_df_with_isin = new_onlinedata_df.filter(new_onlinedata_df.sepal_width.isin(['2.0','4.0']))
new_df_with_isin.show()

+------------+-----------+------------+-----------+---------------+
|sepal_length|sepal_width|petal_length|petal_width|        species|
+------------+-----------+------------+-----------+---------------+
|         5.8|        4.0|         1.2|        0.2|    Iris-setosa|
|         5.0|        2.0|         3.5|        1.0|Iris-versicolor|
+------------+-----------+------------+-----------+---------------+

In [0]:
# Using startswith
new_onlinedata_df.filter(new_onlinedata_df.sepal_length.startswith("5")).show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|
|         5.1|        3.7|         1.5|        0.4|Iris-setosa|
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|
|         5.0|        3.0|         1.6|        0.2|Iris-setosa|
|         5.0|        3.4|         1.6|        0.4|Iris-setosa|
|         5.2|        3.5|         1.5|        0.2|Iris-setosa|
|         5.2|        3.4|         1.4|        0.2|Iris-setosa|
|         5.4|        3.4|         1.5|        0.4|Iris-setosa|
|         5.2|        4.1|         1.5|        0.1|Iris-setosa|
|         5.5|        4.2|         1.4|        0.2|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
# Using endswith
new_onlinedata_df.filter(new_onlinedata_df.sepal_length.endswith("5")).show()

+------------+-----------+------------+-----------+---------------+
|sepal_length|sepal_width|petal_length|petal_width|        species|
+------------+-----------+------------+-----------+---------------+
|         5.5|        4.2|         1.4|        0.2|    Iris-setosa|
|         5.5|        3.5|         1.3|        0.2|    Iris-setosa|
|         4.5|        2.3|         1.3|        0.3|    Iris-setosa|
|         5.5|        2.3|         4.0|        1.3|Iris-versicolor|
|         6.5|        2.8|         4.6|        1.5|Iris-versicolor|
|         5.5|        2.4|         3.8|        1.1|Iris-versicolor|
|         5.5|        2.4|         3.7|        1.0|Iris-versicolor|
|         5.5|        2.5|         4.0|        1.3|Iris-versicolor|
|         5.5|        2.6|         4.4|        1.2|Iris-versicolor|
|         6.5|        3.0|         5.8|        2.2| Iris-virginica|
|         6.5|        3.2|         5.1|        2.0| Iris-virginica|
|         6.5|        3.0|         5.5|        1.8| Iris-virginica|
|         6.5|        3.0|         5.2|        2.0| Iris-virginica|
+------------+-----------+------------+-----------+---------------+

In [0]:
#contains
new_onlinedata_df.filter(new_onlinedata_df.sepal_width.contains("4.0")).show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
+------------+-----------+------------+-----------+-----------+

In [0]:
# like - SQL LIKE pattern
new_onlinedata_df.filter(new_onlinedata_df.sepal_width.like("%2%")).show()

+------------+-----------+------------+-----------+---------------+
|sepal_length|sepal_width|petal_length|petal_width|        species|
+------------+-----------+------------+-----------+---------------+
|         4.7|        3.2|         1.3|        0.2|    Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|    Iris-setosa|
|         4.7|        3.2|         1.6|        0.2|    Iris-setosa|
|         5.5|        4.2|         1.4|        0.2|    Iris-setosa|
|         5.0|        3.2|         1.2|        0.2|    Iris-setosa|
|         4.5|        2.3|         1.3|        0.3|    Iris-setosa|
|         4.4|        3.2|         1.3|        0.2|    Iris-setosa|
|         4.6|        3.2|         1.4|        0.2|    Iris-setosa|
|         7.0|        3.2|         4.7|        1.4|Iris-versicolor|
|         6.4|        3.2|         4.5|        1.5|Iris-versicolor|
|         5.5|        2.3|         4.0|        1.3|Iris-versicolor|
|         6.5|        2.8|         4.6|        1.5|Iris-versicolor|
|         5.7|        2.8|         4.5|        1.3|Iris-versicolor|
|         4.9|        2.4|         3.3|        1.0|Iris-versicolor|
|         6.6|        2.9|         4.6|        1.3|Iris-versicolor|
|         5.2|        2.7|         3.9|        1.4|Iris-versicolor|
|         5.0|        2.0|         3.5|        1.0|Iris-versicolor|
|         6.0|        2.2|         4.0|        1.0|Iris-versicolor|
|         6.1|        2.9|         4.7|        1.4|Iris-versicolor|
|         5.6|        2.9|         3.6|        1.3|Iris-versicolor|
+------------+-----------+------------+-----------+---------------+
only showing top 20 rows

In [0]:
# rlike - SQL RLIKE pattern (LIKE with Regex)
new_onlinedata_df.filter(new_onlinedata_df.sepal_width.rlike("^[0-9]*$")).show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
+------------+-----------+------------+-----------+-------+

In [0]:
from pyspark.sql.functions import regexp_extract, col
new_onlinedata_df.filter(regexp_extract(col("sepal_length"), r"\d+", 0) != "").show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
new_onlinedata_df.filter(regexp_extract(col("species"), r"\d+", 0) != "").show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
+------------+-----------+------------+-----------+-------+

In [0]:
#check species column in list
listColumns=new_onlinedata_df.columns 
"species" in listColumns

Out[211]: True

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]
schema = ["employee_name","department","state","salary","age","bonus"]
simple_df = spark.createDataFrame(simpleData,  schema)
simple_df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
from pyspark.sql.functions import col,sum,avg, collect_list
dep_sal =simple_df.groupBy("department") \
           .pivot("employee_name") \
           .agg(sum("salary").alias("sum_salary"))
dep_sal.show()

+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+
|department|James| Jeff|  Jen|Kumar|Maria|Michael|Raman|Robert|Scott|
+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+
|     Sales|90000| null| null| null| null|  86000| null| 81000| null|
|   Finance| null| null|79000| null|90000|   null|99000|  null|83000|
| Marketing| null|80000| null|91000| null|   null| null|  null| null|
+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+

In [0]:
deptSalaryDF = simple_df.groupBy("department") \
                         .agg(collect_list("employee_name").alias("employee_names"), 
                          sum("salary").alias("total_salary"))

# Show the resulting DataFrame
deptSalaryDF.show()

+----------+--------------------+------------+
|department|      employee_names|total_salary|
+----------+--------------------+------------+
|     Sales|[James, Michael, ...|      257000|
|   Finance|[Maria, Raman, Sc...|      351000|
| Marketing|       [Jeff, Kumar]|      171000|
+----------+--------------------+------------+

In [0]:
dff = simple_df.groupBy("department","employee_name") \
    .agg(sum("salary").alias("sum_salary"))
dff.show()

+----------+-------------+----------+
|department|employee_name|sum_salary|
+----------+-------------+----------+
|     Sales|      Michael|     86000|
|     Sales|        James|     90000|
|   Finance|        Maria|     90000|
|     Sales|       Robert|     81000|
|   Finance|        Raman|     99000|
|   Finance|        Scott|     83000|
| Marketing|         Jeff|     80000|
|   Finance|          Jen|     79000|
| Marketing|        Kumar|     91000|
+----------+-------------+----------+

In [0]:
from pyspark.sql.functions import sum

# assuming you have a DataFrame called "employees" with columns "employee_name", "department", and "salary"

result = simple_df.groupBy("department", "employee_name").agg(sum("salary").alias("total_salary")).orderBy("department", "total_salary", ascending=[True, False])
result.show()